@model IndexVM[]

<h1>Little Library Book List</h1>
<div class="pt-4">
    <div class="row pt-2">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="row p-1">
                    <div class="col p1">
                        <div class="card-deck">
                            @if(item.Image != null)
                            {
                                <img class="card-img-top rounded" src="@item.Image" alt="Card image cap">
                            }
                            else
                            {
                               <img class="card-img-top" src="..." alt="Card image cap">
                            }
                            <div class="card-body p-2">
                                <h5 class="card-title">Title: @item.Title</h5>
                                <br>
                                <h6 class="card-title">Author: @item.Author</h6>
                                <h6 class="card-title">Genre: @item.Genre</h6>
                            </div>
                            <div class="card-footer">
                                @if(item.Available == true)
                                {
                                    <h6 class="card-title text-success">Available</h6>
                                }
                                else
                                {
                                    <h6 class="card-title text-danger">Unavailable</h6>
                                }
                                <br>
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>

</div>
